.page__section {
  width: 100vw;
  max-width: 1440px;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 320px) {
  header,
  main,
  footer,
  .about__section,
  .news__section,
  .preloader,
  .search__bar {
    width: 100vw;
  }
}
@media screen and (min-width: 321px) and (max-width: 768px) {
  header,
  main,
  footer,
  .about__section,
  .news__section,
  .preloader,
  .search__bar {
    width: 100vw;
  }
}

@media screen and (min-width: 769px) {
  .page__section {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
  }
}
