.main__section {
  width: 100vw;
  height: auto;
  max-width: 1440px;
  min-height: 576px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("../../images/1920px-WISE_artist_concept_\(PIA17254\,_crop\)Main.svg");
  background-size: auto;
  margin: 0 auto;
  padding: 0;
}

.main__content {
  height: 496px;
  display: flex;
  flex-direction: column;
  white-space: wrap;
  justify-content: center;
  /* margin: 0 auto; */
  color: #ffffff;
}
.main__title {
  max-width: 608px;
  height: 128px;
  white-space: wrap;
  font-family: "Roboto Slab", sans-serif;
  font-style: normal;
  font-size: 60px;
  font-weight: 400;
  line-height: 64px;
  text-align: left;
  margin: 80px auto 32px;
}
.main__description {
  max-width: 608px;
  height: 24px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  margin: 0 auto 88px;
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  .main__section {
    flex-direction: column;
    padding: 0;
  }

  .main__content {
    height: 480px;
  }
  .main__title {
    max-width: 285px;
    height: 80px;
    font-size: 36px;
    line-height: 40px;
    margin: 30px auto 16px;
  }
  .main__description {
    max-width: 288px;
    height: 72px;
    font-size: 18px;
    line-height: 24px;
    margin: 0 auto 122px;
    white-space: wrap;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .main__section {
    height: auto;
    flex-direction: column;
  }

  .main__content {
    height: auto;
  }
  .main__title {
    max-width: 385px;
    height: 80px;
    font-size: 36px;
    line-height: 40px;
    margin: 38px auto 16px 160px;
  }
  .main__description {
    max-width: 452px;
    height: 48px;
    font-size: 18px;
    line-height: 24px;
    margin: 0 auto 48px 160px;
  }
}
