.about__section {
  width: 100vw;
  max-width: 1440px;
  height: 624px;
  display: flex;
  flex-direction: row;
  background-color: #fff;
  border: none;
  margin: 0 auto;
}
.about__avatar {
  width: 464px;
  height: 464px;
  border: 1px solid #c4c4c4;
  border-radius: 50%;
  margin: 80px auto 80px 104px;
}
.about__content {
  width: 600px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 131px 216px auto 56px;
}
.about__title {
  width: 600px;
  height: 46px;
  font-family: "Roboto Slab", sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 46px;
  text-align: left;
  color: #000;
}
.about__userInfo {
  width: 600px;
  height: auto;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  align-items: flex-start;
  padding: 0;
}
.about__userInfo-list {
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
  text-align: left;
  color: #000;
}
.about__userInfo-list_span {
  color: #53585b;
  padding-left: 6px;
}
@media screen and (max-width: 320px) {
  .about__section {
    height: auto;
    flex-direction: column;
  }
  .about__avatar {
    width: 272px;
    height: 272px;
    margin: 32px auto 24px;
  }
  .about__content {
    width: 288px;
    height: auto;
    margin: 0 16px 0;
  }
  .about__title {
    height: 40px;
    font-size: 30px;
    line-height: 46px;
    margin: 0 0 16px;
  }
  .about__userInfo {
    width: 288px;
    height: auto;
    white-space: wrap;
    margin: 0 auto 16px 0;
  }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .about__section {
    height: auto;
  }
  .about__avatar {
    width: 232px;
    height: 232px;
    margin: 61px 32px 61px 40px;
  }
  .about__content {
    width: 424px;
    height: auto;
    margin: 40px 40px auto 0;
  }
  .about__title {
    height: 34px;
    font-size: 30px;
    line-height: 40px;
    margin: 0 0 16px;
  }
  .about__userInfo {
    width: 424px;
    margin: 0;
  }
}
