.about__section {
  max-width: 1440px;
  height: 624px;
  display: flex;
  flex-direction: row;
  background-color: #fff;
}
.about__avatar {
  width: 464px;
  height: 464px;
  border: 1px solid #c4c4c4;
  border-radius: 50%;
  margin: 80px auto 80px 104px;
}
.about__description {
  width: 600px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 131px 216px auto 56px;
}
.about__title {
  height: 46px;
  font-family: "Roboto Slab", sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 46px;
  text-align: left;
  color: #000;
}
.about__userInfo {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 24px 0 0 0;
  padding: 0;
}
.about__userInfo-list {
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
  text-align: left;
  color: #000;
  padding: 0;
}
.about__userInfo-list_span {
  color: #53585b;
  padding-left: 6px;
}
