.header {
  width: 100vw;
  max-width: 1440px;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: url("../../images/ImageHeader.svg");
  background-size: cover;
  background-position: center;
  box-shadow: 0px -1px 0px 0px #ffffff33 inset;
  margin: 0 auto;
}
.header__saved-articles {
  background-color: #ffffff;
  color: #000000;
}

.header__bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1232px;
  height: 48px;
  margin: 19px 104px 13px;
}
.header__logo {
  width: 200px;
  height: 24px;
  font-family: "Roboto Slab", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  background-color: transparent;
  color: #ffffff;
  border: none;
  margin: 0 auto 0 0;
}
.header__menu-button {
  display: none;
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  .header {
    height: 56px;
    box-shadow: 0px -1px 0px 0px #ffffff33 inset;
  }
  .header__bar {
    margin: 16px 16px;
  }
  .header__logo {
    max-width: 117px;
    height: 24px;
    font-size: 16px;
    margin: 16px auto 16px 0;
  }
  .header__menu-button {
    display: flex;
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: none;
    cursor: pointer;
    margin: 16px 0 16px auto;
  }
  .header__logo.hidden,
  .header__menu-button.hidden {
    display: none;
  }

  .header__menu-icon {
    width: 24px;
    height: 24px;
    filter: invert(100%);
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .header {
    height: 66px;
    box-shadow: 0px -1px 0px 0px #ffffff33 inset;
  }

  .header__bar {
    height: 40px;
    margin: 14px 40px;
  }
  .header__logo {
    max-width: 200px;
    height: 24.8px;
    margin: 7.5px auto 7.5px 0;
  }
}
