.header {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: url("../../images/ImageHeader.svg");
  background-size: cover;
  background-position: center;
  border-bottom: 2px solid #e9e7e703;
}
.header__bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1440px;
  height: 48px;
  margin: 19px 104px 13px;
}
.header__logo {
  width: 200px;
  height: 24px;
  font-family: "Roboto Slab", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  background-color: transparent;
  color: #ffffff;
  border: none;
}
.header__menu-button {
  display: none;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .header {
    width: 100%;
    height: 56px;
  }
  .header__bar {
    width: 100%;
    height: 24px;
  }
  .header__logo {
    width: 117px;
    height: 24px;
    font-size: 16px;
    line-height: 24px;
    margin: 16px auto 16px 16px;
  }
  .header__menu-button {
    display: block;
    width: 24px;
    height: 24px;
    margin: 16px 16px 16px auto;
    /* background: transparent; */
    border: none;
    cursor: pointer;
  }

  .header__menu-icon {
    width: 16px;
    height: 2px;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .header {
    width: 100%;
    height: 66px;
  }

  .header__bar {
    height: 40px;
    margin: 14px 40px;
  }
  .header__logo {
    width: 200px;
    height: 24.8px;
    margin: 7.5px auto 7.5px 0;
  }
}
