.modal__confirmationModal-container{
    width: 430px;
    height: 182px;
    background: #FFFFFF;
    border-radius: 16px;
    position: absolute;
    top: 50%;
    left:50%;
    z-index: 999;
    transform: translate(-50%, -50%);
    margin: 0;  
}

.modal__close-button {
    width: 40px;
    height: 40px;
    border: none;
    background-image: url('../../images/cross.svg');
    position: absolute;
    top: 233px;
    right: 459px;
    z-index: 6px;  
}

.modal__close-button:hover {
    cursor: pointer;
    opacity: 0.5;
    }

.modal__confirmationModal-title {
    width: 315px;
    height: 56px;
    margin: 43px 79px auto 36px;
    color: rgba(0, 0, 0, 0.5);
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 900;
    line-height: 28.13px;
    text-align: center;
    justify-content: center;
}

.modal__option-button {
    width: 228px;
    height: 18px;
    background: none;
    border: none;
    white-space: nowrap;
    color: rgba(0, 0, 0, 0.5);
    font-family: "Inter", sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 21.7px;
    margin: 14px auto 51px 36px; 
}