.footer {
  width: 100vw;
  max-width: 1440px;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
}
.footer__description {
  width: 433px;
  height: 22px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  margin: 32px auto 26px 104px;
  color: #b6bcbf;
}
.footer__nav-bar {
  width: 163px;
  height: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 32px 40px 26px auto;
}
.nav__link-footer {
  width: 49px;
  height: 24px;
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
}
.nav__link-footer:hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
}
.nav__link-tripleten {
  width: 74px;
  height: 24px;
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
}
.nav__link-tripleten:hover {
  cursor: pointer;
  /* text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 2px; */
}
.footer__social-links {
  width: 72px;
  height: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 32px 104px 26px 0;
}
.footer__logo-github {
  width: 24px;
  height: 24px;
  object-fit: cover;
}
.footer__logo-github:hover {
  cursor: pointer;
  opacity: 0.5;
}
.footer__logo-facebook {
  width: 24px;
  height: 24px;
  object-fit: cover;
}
.footer__logo-facebook:hover {
  cursor: pointer;
  opacity: 0.5;
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  .footer {
    max-width: 320px;
    height: auto;
    align-items: start;
    display: grid;
    grid-template-areas: "nav social" "description description";
    grid-template-columns: 1fr 1fr;
    gap: 38px 16px;
  }
  .footer__description {
    max-width: 288px;
    height: 22px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    grid-area: description;
    text-align: center;
    margin: 0 auto 22px;
  }
  .footer__nav-bar {
    max-width: 200px;
    height: 74px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-items: center;
    align-items: flex-start;
    grid-area: nav;
    margin: 20px 0 auto 0;
  }
  .nav__link-footer {
    font-size: 18px;
    margin-left: 15px;
  }
  .nav__link-tripleten {
    font-size: 18px;
    margin-left: 15px;
  }
  .footer__social-links {
    max-width: 72px;
    height: 24px;
    grid-area: social;
    justify-items: center;
    align-items: flex-end;
    margin: 20px 16px auto auto;
  }
}
@media screen and (min-width: 426px) and (max-width: 768px) {
  .footer {
    height: 64px;
  }
  .footer__description {
    max-width: 300px;
    height: 22px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin: 24px auto 18px 40px;
  }
  .footer__nav-bar {
    max-width: 163px;
    height: 24px;
    margin: 20px auto 19px 113px;
  }
  .nav__link.footer {
    width: 49px;
    height: 24px;
    font-size: 18px;
    line-height: 24px;
    margin: 0;
  }
  .nav__link.tripleten {
    width: 74px;
    height: 24px;
    font-size: 18px;
    line-height: 24px;
  }
  .footer__social-links {
    width: 72px;
    height: 24px;
    margin: 20px 40px;
  }
  .footer__logo-github {
    border-radius: 12px;
  }
  .footer__logo-facebook {
    border-radius: 12px;
  }
}
